<!doctype html>
<html lang="{% if request.locale.iso_code == 'it' %}it{% else %}en{% endif %}">

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <!--favicon-->
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }}
  <!--swiper cdn & scripts-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!--gsap scripts-->
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js"></script>
  <!--import cli tailwind file output css-->
  {{ 'output.css' | asset_url | stylesheet_tag }}
  <!--font links-->
  <link rel="stylesheet" href="https://use.typekit.net/oig7qvz.css">

</head>

<body>
  {% section 'navbar' %}

  <main role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}


  <!--gsap script for sections-->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const mainContent = document.querySelector('main');
      const allSections = mainContent.querySelectorAll('.shopify-section');
      gsap.registerPlugin(ScrollTrigger);

      allSections.forEach((section, index) => {
        if (index != 0) {
          gsap.fromTo(
            section,
            {y: 100, opacity: 0.8},
            {
              y: 0,
              duration: 0.5,
              opacity: 1,
              ease: "power2.inOut",
              scrollTrigger: {
                trigger: section,
                start: "top-=600 center",
                end: "top center",
                scrub: 1,
              }
            }
          );
        } else {
          const mainLogo = section.querySelector('.main-logo');
          gsap.fromTo(
            section,
            {opacity: 0, y: 100},
            {
              opacity: 1,
              duration: 1,
              y: 0,
              ease: "power2.inOut",
            }
          )
          gsap.fromTo(
            mainLogo,
            {scale: 0.6, opacity: 0},
            {scale: 1, opacity: 1, duration: 1, ease: "power2.inOut" }
          )
        }
      });
    });
  </script>

</body>

</html>