<!-- canteen slider id footer section -->
<div class="w-full h-auto px-5">
  <!-- main wrapper section -->
  <div class="w-full h-auto rounded-[8px] bg-(--beige-color) p-5 flex flex-col items-start justify-center gap-y-[72px]">

    <!-- container headings -->
    <div class="w-full h-auto flex flex-row justify-between items-center">
      <h2 class="font-(family-name:--main-title-mobile-font-family) text-[40px] leading-[105%] tracking-[1.02px] lg:text-[96px] lg:tracking-[2.88px]" style="
            {% if section.settings.is_stroke_left %}
              color: transparent; 
             -webkit-text-stroke-width: 1.5px;
             -webkit-text-stroke-color: var(--beige-light);
            {% else %}
            color: var(--beige-light)
            {% endif %}">
        {{ section.settings.main_title_left | default: "Esplora" | upcase }}</h2>

      <h2 class="font-(family-name:--main-title-mobile-font-family) text-[40px] leading-[105%] tracking-[1.02px] lg:text-[96px] lg:tracking-[2.88px]" style="{% if section.settings.is_stroke_right %}
              color: transparent; 
             -webkit-text-stroke-width: 1.5px;
             -webkit-text-stroke-color: var(--beige-light);
            {% else %}
            color: var(--beige-light)
            {% endif %}">
        {{ section.settings.main_title_right | default: "Le cantine" | upcase }}</h2>
    </div>

    <!-- container slider id canteen -->
    <div class="w-[calc(100%_+_2.5rem)] h-auto overflow-x-scroll px-5 -mx-5 mb-[130px]">
      <div class="w-auto h-auto flex flex-row justify-start items-center gap-x-5">
        {% for page in pages %}
          {% assign pageImage = page.metafields.custom.page_image.value %}
          {% if page.title contains "Cantina" or page.title contains "Canteen" %}
            {% assign pageTitleCustom = page.title | split: " " %}
            {% assign pageTitleCustom = pageTitleCustom | slice: 1, pageTitleCustom.size %}
            {% assign pageTitleCustom = pageTitleCustom | join: " " %}
            <a href="{{ page.url }}">
              <div class="canteen-item w-auto h-auto flex flex-col items-start justify-center gap-y-2.5 cursor-pointer" data-canteen="{{ page.title }}">
                {% if pageImage %}
                  <!-- page image -->
                  <div class="w-[355px] h-[121px]">
                    <img
                      class="page-image w-full h-full object-cover object-center rounded-[8px]"
                      src="{{ pageImage | img_url: 'master' }}"
                      alt="">
                  </div>
                  <!-- page title -->
                  <div class="w-full h-auto flex flex-row justify-between items-center">
                    <p class="text-(--beige-light)">{{ pageTitleCustom | upcase }}</p>
                    <div class="arrow-canteen-box w-auto h-auto text-(--beige-light) hidden">
                      {% render 'arrow-up' %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        //handle canteen id slider active
        const url = new URL(window.location.href);
        const pathName = url.pathname;
        const pathSegments = pathName.split("/").filter((segment) => segment !== "");
  
        //get elements;
        const canteenItem = document.querySelectorAll('.canteen-item');
  
        canteenItem.forEach((item) => {
          const canteenData = item.getAttribute('data-canteen').toLowerCase();
          const canteenDataCustom = canteenData.replace(/ /g, "-");
  
          if(pathSegments.some((i) => canteenDataCustom == i)){
             const classesToAdd = ["border", "border-(--beige-light)", "border-[11px]"]
             const pageImage = item.querySelector('.page-image');
             const arrowImage = item.querySelector('.arrow-canteen-box');
             classesToAdd.forEach((classToAdd) => {
                pageImage.classList.add(classToAdd);
             }) 
             arrowImage.classList.remove('hidden')
          }
  
        });  
    })
</script>


{% schema %}
  {
    "name": "canteen_slider_id",
    "settings": [
      {
        "type": "text",
        "id": "main_title_left",
        "label": "Main section title left"
      }, {
        "type": "text",
        "id": "main_title_right",
        "label": "Main section title right"
      }, {
        "type": "checkbox",
        "id": "is_stroke_left",
        "label": "Stroke text left",
        "default": false
      }, {
        "type": "checkbox",
        "id": "is_stroke_right",
        "label": "Stroke text right",
        "default": true
      }
    ]
  }
{% endschema %}