<!-- canteen showcase slider collections products -->
<div class="canteen-showcase-wrapper w-full h-auto flex flex-col items-start justify-center gap-y-2.5">

  <!-- container main section title -->
  <div class="w-full h-auto flex flex-col items-end justify-center px-5">
    <h2 class="font-(family-name:--main-title-mobile-font-family) text-[40px] leading-[105%] tracking-[1.02px] lg:text-[96px] lg:tracking-[2.88px]" style="color:{{ section.settings.main_title_color }}">
      {{ section.settings.main_section_title | default: "Le etichette" | upcase }}
    </h2>
    <h2 class="font-(family-name:--main-title-mobile-font-family) text-[40px] leading-[105%] tracking-[1.02px] lg:text-[96px] lg:tracking-[2.88px]" style="color: transparent; 
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: {{ section.settings.main_title_color }};">
      {{ section.settings.main_stroke_section_title | default: "più importanti" | upcase }}
    </h2>
  </div>

  <!-- container slider showcase -->
  {% for collection in collections %}
    <!-- showcase container -->
    <div class="showcase-container-scroll w-full h-auto overflow-x-scroll flex flex-row justify-start items-center gap-x-5 px-5 py-5" data-collection="{{ collection.title |  replace: " ", "-" | downcase }}">
      {% for product in collection.products %}

        <div class="card-product w-[250px] min-w-[250px] min-h-[500px] h-[500px] p-2.5 lg:w-[540px] lg:h-[790px] rounded-[18px] flex flex-col items-center justify-between lg:justify-center outline outline-offset-4 relative group transition-all duration-200 ease-in-out" data-product="{{ product.title |  downcase }}">

          <!-- container item number -->
          <div class="w-auto h-auto lg:absolute lg:left-5 lg:top-5">
            <p class="font-(family-name:--main-title-mobile-font-family) text-nowrap text-[200px] tracking-[-20px] leading-[90%] lg:text-[256px] text-(--bg-color) group-hover:text-(--blue-color) transition-all duration-200 ease-in-out">
              {% if forloop.index < 10 %}0{% endif %}
              {{ forloop.index }}</p>
          </div>

          <!-- container image -->
          <div class="w-auto h-auto absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 lg:block z-10">
            <img
              class="w-[130px] h-[381px] lg:w-[192px] lg:h-[567px]  object-cover object-center transition-all duration-200 ease-in-out group-hover:scale-[1.1]"
              src="{{ product.featured_image |  img_url: 'master' }}"
              alt="{{ product.featured_image.alt }}">
          </div>

        </div>

      {% endfor %}
    </div>
  {% endfor %}

</div>

{% style %}

  .card-product {
    background: {{ section.settings.main_card_bg_color_default | hex_to_rgba: 0.3 }};
    outline-color: {{ section.settings.main_card_bg_color_default }}
  }

  .card-product:hover {
    background-color: {{ section.settings.main_card_bg_color_default }};
  }

  .canteen-showcase-wrapper {
    margin-top: {{ section.settings.margin_desktop_section }}px;
    margin-bottom: {{ section.settings.margin_desktop_section }}px;
  }

  @media (max-width: 480px) {
    .canteen-showcase-wrapper {
      margin-top: {{ section.settings.margin_mobile_section }}px;
      margin-bottom: {{ section.settings.margin_mobile_section }}px;
    }
  }

{% endstyle %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
  
    //get showcase slider elements;
    const showcaseContainer = document.querySelectorAll('.showcase-container-scroll');
  
    //set showcase container's start position on page loaded;
    let scrollTimeout;
  
    const resetScroll = (element, value) => {
      element.scrollTo({
        left: value,
        behavior: "smooth"
      })
    }
  
    showcaseContainer.forEach((container) => {
  
      const clientWidth = container.clientWidth;
      const scrollWidth = container.scrollWidth;
      const scrollValue = (scrollWidth - clientWidth) / 2;
      container.scrollLeft = scrollValue;
  
      container.addEventListener('scroll', () => {
        clearInterval(scrollTimeout);
  
        scrollTimeout = setTimeout(() => resetScroll(container, scrollValue), 2000);
      })
  
    });
  
    // Display just the showcase slider collection based on the content of the page;
    const url = new URL(window.location.href);
    const pathName = url.pathname;
    const pathSegments = pathName.split("/").filter((segment) => segment !== "");
  
    showcaseContainer.forEach((container) => {
      const canteenType = container.getAttribute('data-collection').toLowerCase();
      if (!pathSegments.some((i) => i.includes(canteenType))) {
        container.classList.add('hidden');
      }
    });
  })
</script>


{% schema %}
  {
    "name": "canteen_showcase_slider",
    "settings": [
      {
        "type": "text",
        "id": "main_section_title",
        "label": "Main section title"
      },
      {
        "type": "text",
        "id": "main_stroke_section_title",
        "label": "Main section stroke title"
      },
      {
        "type": "color",
        "id": "main_title_color",
        "label": "Main title color"
      },
      {
        "type": "color",
        "id": "main_card_bg_color_default",
        "label": "Card background default"
      }, 
      {
        "type": "range",
        "id": "margin_desktop_section",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 60,
        "label": "Section distance top & bottom on desktop"
      },
      {
        "type": "range",
        "id": "margin_mobile_section",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 30,
        "label": "Section distance top & bottom on mobile"
      }
    ]
  }
{% endschema %}