<!-- canteen slider id footer section -->
<div class="canteen-slider-id-wrapper w-full h-auto px-5">
  <!-- main wrapper section -->
  <div class="w-full h-auto rounded-[8px] bg-(--beige-color) flex flex-col items-start justify-center gap-y-[30px] overflow-x-hidden overflow-y-hidden lg:gap-y-[72px]">

    <!-- container headings -->
    <div class="w-full h-auto flex flex-col items-start justify-center p-5 lg:flex-row lg:justify-between lg:items-center">
      <h2 class="font-(family-name:--main-title-mobile-font-family) text-[40px] leading-[105%] tracking-[1.02px] lg:text-[96px] lg:tracking-[2.88px]" style="
            {% if section.settings.is_stroke_left %}
              color: transparent; 
             -webkit-text-stroke-width: 1.5px;
             -webkit-text-stroke-color: var(--beige-light);
            {% else %}
            color: var(--beige-light)
            {% endif %}">
        {{ section.settings.main_title_left | default: "Esplora" | upcase }}</h2>

      <h2 class="font-(family-name:--main-title-mobile-font-family) text-[40px] leading-[105%] tracking-[1.02px] lg:text-[96px] lg:tracking-[2.88px]" style="{% if section.settings.is_stroke_right %}
              color: transparent; 
             -webkit-text-stroke-width: 1.5px;
             -webkit-text-stroke-color: var(--beige-light);
            {% else %}
            color: var(--beige-light)
            {% endif %}">
        {{ section.settings.main_title_right | default: "Le cantine" | upcase }}</h2>
    </div>


    {% assign titlePagesCanteen = pages | where: "title", "Canteen" %}
    {% assign titlePagesCantina = pages | where: "title", "Cantina" %}

    <!-- container slider id canteen -->
    <div class="w-full h-auto overflow-x-scroll overflow-y-hidden mb-[130px] content-layout-slider">
      <div class="w-auto h-auto px-5 gap-x-5 layout-slider {% if titlePagesCanteen.size <= 4 or titlePagesCantina.size <= 4  %} lg:w-full lg:max-w-full {% endif %}">
        {% for page in pages %}
          {% assign pageImage = page.metafields.custom.page_image.value %}
          {% assign pageCanteenLogo = page.metafields.custom.page_canteen_logo.value %}

          {% if page.title contains "Cantina" or page.title contains "Canteen" %}
            {% assign pageTitleCustom = page.title | split: " " %}
            {% assign pageTitleCustom = pageTitleCustom | slice: 1, pageTitleCustom.size %}
            {% assign pageTitleCustom = pageTitleCustom | join: " " %}
            <a class="canteen-item-container {% if titlePagesCanteen.size <= 4 or titlePagesCantina.size <= 4  %} flex-1 flex  {% else %} block {% endif %}" href="{{ page.url }}">
              <div class="canteen-item w-auto h-auto flex flex-col items-start justify-center gap-y-2.5 cursor-pointer group {% if titlePagesCanteen.size <= 4 or titlePagesCantina.size <= 4  %} lg:w-full {% endif %}" data-canteen="{{ page.title }}">
                {% if pageImage %}
                  <!-- page image -->
                  <div class="w-[348px] h-[121px] relative {% if titlePagesCanteen.size <= 4 or titlePagesCantina.size <= 4  %} lg:w-full {% endif %}">
                    <img
                      class="page-image w-full h-full object-cover object-center rounded-[8px] group-hover:border-(--beige-light) group-hover:border-[11px]"
                      src="{{ pageImage | img_url: 'master' }}"
                      alt="">
                    <!-- container canteen logo -->
                    {% if pageCanteenLogo %}
                      <div class="page-logo w-auto h-auto max-w-[81px] max-h-[69px] absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
                      <img
                      class="w-full h-full object-center object-cover opacity-0 group-hover:opacity-100 transition-all duration-75 ease-linear"
                      src="{{ pageCanteenLogo | img_url: 'master' }}"
                      alt="{{ pageCanteenLogo.alt }}"
                    >
                      </div>
                    {% endif %}
                  </div>
                  <!-- page title -->
                  <div class="w-full h-auto flex flex-row justify-between items-center">
                    <p class="text-(--beige-light)">{{ pageTitleCustom | upcase }}</p>
                    <div class="arrow-canteen-box w-auto h-auto text-(--beige-light) hidden">
                      {% render 'arrow-up' %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% style %}

  .canteen-slider-id-wrapper {
    margin-top: {{ section.settings.margin_desktop_section }}px;
    margin-bottom: {{ section.settings.margin_desktop_section }}px;
  }

  .layout-slider{
    display:flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
  }

  .content-layout-slider{
    display:flex;
    align-items: start;
    justify-content: center;
  }

  @media (max-width: 480px) {
    .canteen-slider-id-wrapper {
      margin-top: {{ section.settings.margin_mobile_section }}px;
      margin-bottom: {{ section.settings.margin_mobile_section }}px;
    }

    .layout-slider{
      flex-direction: {{ section.settings.layout_slider_direction_mobile }};
    }

    .content-layout-slider{
    justify-content: {{ section.settings.layout_slider_alignment_mobile }};
    }
  }
{% endstyle %}


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const url = new URL(window.location.href);
    const pathName = url.pathname;
    const pathSegments = pathName.split("/").filter((segment) => segment !== "");
  
    const canteenItem = document.querySelectorAll('.canteen-item');
    const canteenItemContainer = document.querySelectorAll('.canteen-item-container');
  
    let elementToMove = null;
  
    canteenItem.forEach((item, index) => {
      const canteenData = item.getAttribute('data-canteen').toLowerCase();
      const canteenDataCustom = canteenData.replace(/ /g, "-");
  
      if (pathSegments.some((i) => canteenDataCustom == i)) {

        const classesToAdd = ["border", "border-(--beige-light)", "border-[11px]"];
        const pageImage = item.querySelector('.page-image');
      
        pageImage.style.filter = "brightness(70%)";
        elementToMove = canteenItemContainer[index];

      }
    });
  
    if (elementToMove) {
      const parentContainer = elementToMove.parentNode;
      parentContainer.prepend(elementToMove);
    }

  });
</script>


{% schema %}
  {
    "name": "canteen_slider_id",
    "settings": [
      {
        "type": "text",
        "id": "main_title_left",
        "label": "Main section title left"
      },
      {
        "type": "text",
        "id": "main_title_right",
        "label": "Main section title right"
      },
      {
        "type": "checkbox",
        "id": "is_stroke_left",
        "label": "Stroke text left",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "is_stroke_right",
        "label": "Stroke text right",
        "default": true
      }, {
        "type": "range",
        "id": "margin_desktop_section",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 60,
        "label": "Section distance top & bottom on desktop"
      }, {
        "type": "range",
        "id": "margin_mobile_section",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 30,
        "label": "Section distance top & bottom on mobile"
      },
      {
        "type": "select",
        "id": "layout_slider_direction_mobile",
        "label": "Layout slider direction",
        "default": "row",
        "options": [
          {
            "label": "row",
            "value": "row"
          },
          {
            "label": "column",
            "value": "column"
          }
        ]
      },
      {
        "type": "select",
        "id": "layout_slider_alignment_mobile",
        "label": "Layout slider alignment",
        "default": "start",
        "options": [
          {
            "label": "left",
            "value": "start"
          },
          {
            "label": "center",
            "value": "center"
          }
        ]
      }
    ]
  }
{% endschema %}