<!-- columns layout section -->
<div class="w-full h-auto lg:pt-[240px]">
  <!-- columns container -->
  <div class="w-full h-auto flex lg:{{ section.settings.direction_layout }} lg:items-start lg:justify-between lg:px-[170px] lg:gap-x-[270px]">

    <!-- column first -->
    <div class="w-auto h-auto flex flex-col items-start justify-start lg:gap-y-[315px]">
      <!-- container block text -->
      <div class="w-auto h-auto flex flex-col items-start justify-center lg:max-w-[600px] lg:gap-y-10">
        <div class="w-auto h-auto flex flex-col items-start justify-center">
          <h2 class="lg:text-[120px] lg:leading-[100px] lg:tracking-[-1.2px]">
            {{ section.settings.section_main_title | default: "Nel cuore delle marche" }}
          </h2>
        </div>
        <div class="w-auto h-auto flex flex-col items-start justify-center gap-y-3">
          <p class="text-[32px] leading-[40px] tracking-[0.32px] italic">{{ section.settings.italic_style_text_column_first | 
 default: "I Castelli di Jesi" }}</p>
          <p class="text-[20px] leading-[28px] tracking-[0.2px]">{{ section.settings.default_style_text_column_first | default:
 "Da oltre 20 anni Villa Bucci si dedica ad una coltura naturale, con grande attenzione alla
                        salvaguardia del territorio circostante. I nostri vigneti si estendono su dolci colline esposte
                        a un microclima ideale, caratterizzato da giornate soleggiate e notti fresche. Il suolo calcareo
                        e argilloso dona ai vini una struttura complessa e una mineralità unica." }}</p>
        </div>
      </div>
      <!--container image-->
      <div class="lg:w-[240px] lg:h-[300px]">
        <img
          class="w-full h-full object-cover object-center"
          src="{{ section.settings.first_column_image |  img_url: 'master' }}"
          alt="{{ section.settings.first_column_image.alt }}">
      </div>
    </div>

    <!-- second column -->
    <div class="w-full h-auto flex flex-col items-start justify-start lg:gap-y-[199px]">
      <!-- container image -->
      <div class="w-full lg:h-[825px]">
        <img
          class="w-full h-full object-cover object-center"
          src="{{ section.settings.second_column_image |  img_url: 'master' }}"
          alt="{{ section.settings.second_column_image.alt }}">
      </div>
      <!-- container box text -->
      <div class="w-full h-auto flex flex-col items-start justify-start lg:max-w-[439px] gap-y-3">
        <p class="text-[32px] leading-[40px] tracking-[0.32px] italic">{{ section.settings.italic_style_text_column_second | 
 default: "Le nostre uve" }}</p>
        <p class="text-[20px] leading-[28px] tracking-[0.2px]">{{ section.settings.default_style_text_column_second | default:
 "Le nostre uve, molto versatili in vinificazione, rappresentano in modo completo la viticoltura
                    regionale, essendo tipicamente ricche, austere, longeve e per questo con grande potenziale
                    d’invecchiamento. Ogni vite viene coltivata con cura artigianale, rispettando l’equilibrio naturale
                    dell’ecosistema." }}</p>
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "canteen_info",
    "settings": [
      {
        "type": "text",
        "id": "section_main_title",
        "label": "Section main title"
      },
      {
        "type": "text",
        "id": "italic_style_text_column_first",
        "label": "Italic First Column Style Text"
      },
      {
        "type": "image_picker",
        "id": "second_column_image",
        "label": "Big Image"
      },
      {
        "type": "image_picker",
        "id": "first_column_image",
        "label": "Small Image"
      },
      {
        "type": "text",
        "id": "defautl_style_text_column_first",
        "label": "Default First Column Style Text"
      }, {
        "type": "text",
        "id": "italic_style_text_column_second",
        "label": "Italic Second Column Style Text"
      }, {
        "type": "text",
        "id": "defautl_style_text_column_second",
        "label": "Default Second Column Style Text"
      }, {
        "type": "select",
        "id": "direction_layout",
        "label": "Direction columns",
        "default": "flex-row",
        "options": [
          {
            "value": "flex-row",
            "label": "row"
          }, {
            "value": "flex-row-reverse",
            "label": "row reverse"
          }
        ]
      }
    ]
  }
{% endschema %}