<!-- contact section -->
<div class="contact-wrapper w-full h-auto flex flex-col items-start justify-center p-5 gap-y-[55px] lg:gap-y-[70px] mb-[150px]">

  <div class="w-full h-auto flex flex-row items-center justify-start">
    <h2 class="font-(family-name:--main-title-mobile-font-family) text-[40px] leading-[105%] tracking-[1.02px] lg:text-[96px] lg:tracking-[2.88px]">{{ section.settings.main_title | default: "Contatti" | upcase }}</h2>
  </div>

  <!-- render blocks for contact info -->
  <div class="w-full h-auto flex flex-col items-start justify-center gap-y-[71px] lg:pl-[124px] lg:w-full lg:flex-row lg:justify-start lg:flex-wrap lg:gap-x-[124px]">
    {% for block in section.blocks %}
        {% if block.type == "contact_info_block" %}
          <div class="w-full h-auto flex flex-col items-start justify-center gap-y-5 
            lg:not-first:w-[calc(50%_-_124px)]">
            <h3 class="font-(family-name:--main-title-mobile-font-family) text-[24px]">
              {{ block.settings.site_title | upcase }}
            </h3>
            <p class="w-[246px]">{{ block.settings.site_info }}</p>
          </div>
        {% endif %}
    {% endfor %}
  </div>
</div>


{% style %}


  .contact-wrapper {
    margin-top: {{ section.settings.margin_desktop_section }}px;
    margin-bottom: {{ section.settings.margin_desktop_section }}px;
  }

  @media (max-width: 480px) {
    .contact-wrapper {
      margin-top: {{ section.settings.margin_mobile_section }}px;
      margin-bottom: {{ section.settings.margin_mobile_section }}px;
    }
  }
{% endstyle %}


{% schema %}
  {
    "name": "contact_info",
    "settings": [
      {
        "type": "text",
        "id": "main_title",
        "label": "Main section title"
      },
      {
        "type": "range",
        "id": "margin_desktop_section",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 60,
        "label": "Section distance top & bottom on desktop"
      }, {
        "type": "range",
        "id": "margin_mobile_section",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 30,
        "label": "Section distance top & bottom on mobile"
      }
    ],
    "blocks": [
      {
        "type": "contact_info_block",
        "name": "contact_info_block",
        "settings": [
          {
            "type": "text",
            "id": "site_title",
            "label": "Site title"
          }, {
            "type": "textarea",
            "id": "site_info",
            "label": "Site information"
          }
        ]
      }
    ]
  }
{% endschema %}