<!--page loading section with video-->
<div class="w-full h-svh overflow-y-hidden absolute inset-0 z-50">

    <!--wrapper container elements-->
    <div
        class="loading-wrapper w-full h-[200vh] transform transition-all duration-500 ease-[cubic-bezier(.06,.86,.78,.22)]">

        <!--container video-->
        <div class="video-container w-full h-screen">
            <video class="video w-full h-full object-cover object-center" autoplay muted playsinline>
                <source src="{{ 'page-loading.mp4' | asset_url }}" />
            </video>
        </div>

        <!--home step text layout -->
        <div class="w-full h-screen bg-(--bg-color) p-5">
            <div class="w-full h-full flex flex-col items-center justify-center gap-y-10 relative">
                <div class="w-auto h-auto flex items-center justify-center text-center">
                    <h1 class="main-title-mobile lg:main-title-laptop">
                        {{ section.settings.first_step_title | default: "Scopri il mondo di Oniwines." }}
                    </h1>
                </div>
                <div class="cta-container w-auto h-auto flex items-center justify-center">
                    <div class="cta-orange">
                        <p class="uppercase text-[12px] leading-[16px] tracking-[-3%]">{{ section.settings.cta_text |
                            default: "Entra" }}</p>
                        {% render 'play-poligon' %}
                    </div>
                </div>
                <div class="bottom-text-container w-full absolute h-auto left-0 bottom-0 right-0">
                    <div class="w-auto h-auto flex items-center justify-center">
                        <p class="uppercase underline text-[12px] leading-[16px] tracking-[-3%] font-bold">
                            {{ section.settings.custom_settings_text | default: "Entra senza audio" }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--container clip-path -->
<div
    class="container-clip-path w-full h-screen bg-(--bg-color) overflow-hidden relative flex items-center justify-center">
    <!--clip path content-->
    <div class="clip-path-container sticky top-0 w-dvw h-dvh overflow-hidden bg-(--bg-color)"
        style="clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);">
        <!-- Container video -->
        <video class="video-hero w-full h-full object-cover object-center absolute" autoplay muted playsinline>
            <source src="{{ 'page-loading.mp4' | asset_url }}" />
        </video>
    </div>
</div>

<div class="w-full h-auto"></div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const navbar = document.querySelector('.navigation');
        const loadingWrapper = document.querySelector('.loading-wrapper');
        const video = document.querySelector('.video');

        document.body.classList.add('no-scroll');

        video.addEventListener('ended', () => {
            setTimeout(() => {
                loadingWrapper.classList.add('-translate-y-[33.3%]');

                loadingWrapper.addEventListener('transitionend', () => {
                    document.body.classList.remove('no-scroll');
                    navbar.classList.remove('opacity-0');
                });
            }, 500);
        });

        gsap.registerPlugin(ScrollTrigger);
        gsap.to(".clip-path-container", {
            clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)",
            duration: 1,
            ease: "linear",
            scrollTrigger: {
                trigger: ".container-clip-path",
                start: "center center",
                end: "bottom top",
                markers: true,
                scrub: true,
                pin: false,
            }
        });


    });

</script>