<!-- Showcase product slider -->
<div class="w-full h-auto px-5">
  <!-- wrapper main section -->
  <div class="w-full h-auto rounded-[8px] bg-(--beige-color) p-2.5 flex flex-col items-start justify-center gap-y-[50px] lg:gap-y-[72px]">
    <!-- container Headings -->
    <div class="w-full h-auto flex flex-col lg:flex-row justify-between items-left gap-y-4 lg:gap-y-0">
      <!-- first heading -->
      <h2 class="font-(family-name:--main-title-mobile-font-family) text-[40px] leading-[105%] tracking-[1.02px] lg:text-[96px] lg:tracking-[2.88px]" style="
          {% if section.settings.is_stroke_left %}
            color: transparent; 
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: var(--beige-light);
          {% else %}
            color: var(--beige-light);
          {% endif %}
        ">
        {{ section.settings.main_title_left | default: "Esplora" | upcase }}
      </h2>
      <!-- second heading -->
      <h2 class="font-(family-name:--main-title-mobile-font-family) text-[40px] leading-[105%] tracking-[1.02px] lg:text-[96px] lg:tracking-[2.88px]" style="
          {% if section.settings.is_stroke_right %}
            color: transparent; 
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: var(--beige-light);
          {% else %}
            color: var(--beige-light);
          {% endif %}
        ">
        {{ section.settings.main_title_right | default: "I prodotti" | upcase }}
      </h2>
    </div>

    <!-- container product showcase -->
    <div class="w-full h-auto overflow-x-scroll">
      <div class="w-auto h-auto flex flex-row justify-center items-center gap-x-5 flex-wrap">
        {% for collection in collections %}
          {% if collection.title == "Oniwines" %}
            <div class="w-full h-auto overflow-x-scroll flex flex-col items-start justify-center gap-y-[30px] mb-9 lg:mb-10 lg:flex-row lg:items-center lg:justify-center lg:gap-x-5" data-collection="{{ collection.title | replace: ' ', '-' | downcase }}">

              {% for product in collection.products %}
                <div class="card-product w-full h-auto flex flex-col items-start justify-center relative rounded-[18px] lg:w-auto group" data-product="{{ product.title | downcase }}">

                  <a href="{{ product.url }}">
                    <!-- Container Image -->
                    <div class="canteen-item w-full h-auto flex flex-col items-start justify-center gap-y-2.5 cursor-pointer lg:w-auto">

                      <div class="w-full h-[150px] lg:w-[355px] lg:h-[121px]">
                        <img
                          class="page-image w-full h-full object-cover object-center rounded-[8px]"
                          src="{{ product.featured_image | img_url: 'master' }}"
                          alt="{{ product.featured_image.alt }}">
                      </div>

                      <!-- Product Title -->
                      <div class="w-full h-auto flex flex-row justify-between items-center">
                        <p class="text-(--beige-light) font-(family-name:--submain-title-font-family) font-bold text-[12px] leading-normal">
                          {{ product.title | upcase }}</p>
                        <div class="arrow-canteen-box w-auto h-auto text-(--beige-light) lg:hidden">
                          {% render 'arrow-up' %}
                        </div>
                      </div>

                    </div>
                  </a>

                </div>
              {% endfor %}

            </div>

          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Handle product id slider active
    const url = new URL(window.location.href);
    const pathName = url.pathname;
    const pathSegments = pathName.split("/").filter((segment) => segment !== "");
  
    // Get elements
    const productItems = document.querySelectorAll('.card-product');
  
    productItems.forEach((item) => {
      const productData = item.getAttribute('data-product').toLowerCase();
      const productDataCustom = productData.replace(/ /g, "-");
  
      if (pathSegments.some((i) => productDataCustom === i)) {
        const classesToAdd = ["border-(--beige-light)", "border-[11px]"];
        const pageImage = item.querySelector('.page-image');
        const arrowImage = item.querySelector('.arrow-canteen-box');
        classesToAdd.forEach((classToAdd) => {
          pageImage.classList.add(classToAdd);
        });
        arrowImage.classList.remove('hidden');
      }
    });
  });
</script>

{% schema %}
  {
    "name": "product_slider",
    "settings": [
      {
        "type": "text",
        "id": "main_title_left",
        "label": "Main section title left"
      }, {
        "type": "text",
        "id": "main_title_right",
        "label": "Main section title right"
      }, {
        "type": "checkbox",
        "id": "is_stroke_left",
        "label": "Stroke text left",
        "default": false
      }, {
        "type": "checkbox",
        "id": "is_stroke_right",
        "label": "Stroke text right",
        "default": true
      }
    ]
  }
{% endschema %}