<!-- video section container -->
<div class="main-container w-full h-[500px] lg:h-[942px] p-5">
  <!-- video wrapper container -->
  <div class="w-full h-full {{ section.settings.show_media_video }}">

    <video
      class="w-full h-full object-cover object-center rounded-[8px]"
      autoplay
      muted
      playsinline>
      <source src="{{ section.settings.video_source }}" />
    </video>
  </div>

  <div class="w-full h-full {{ section.settings.show_media_image }}">
    <img
      class="w-full h-full object-cover object-center rounded-[8px]"
      src="{{ section.settings.banner_image |  img_url: 'master'}}"
      alt="">
  </div>


</div>
{% style %}


  .main-container {
    margin-top: {{ section.settings.margin_desktop_section }}px;
    margin-bottom: {{ section.settings.margin_desktop_section }}px;
  }

  @media (max-width: 480px) {
    .main-container {
      margin-top: {{ section.settings.margin_mobile_section }}px;
      margin-bottom: {{ section.settings.margin_mobile_section }}px;
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "media-content",
    "settings": [
      {
        "type": "url",
        "id": "video_source",
        "label": "Video source link"
      }, {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Image"
      },
      {
        "type": "range",
        "id": "margin_desktop_section",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 60,
        "label": "Section distance top & bottom on desktop"
      }, {
        "type": "range",
        "id": "margin_mobile_section",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 30,
        "label": "Section distance top & bottom on mobile"
      },
      {
        "type": "select",
        "default": "block",
        "id": "show_media_video",
        "label": "Show media video",
        "options": [
          {
            "value": "hidden",
            "label": "Hide"
          }, {
            "value": "block",
            "label": "Show"
          }

        ]
      }, {
        "type": "select",
        "default": "hidden",
        "id": "show_media_image",
        "label": "Show media image",
        "options": [
          {
            "value": "hidden",
            "label": "Hide"
          }, {
            "value": "block",
            "label": "Show"

          }
        ]
      }
    ]
  }
{% endschema %}